.tool {
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

.tool:hover {
  color: rgb(18, 68, 18);
  cursor: pointer;
}
